---
import * as m from "../paraglide/messages.js";


const getTranslatedCategory = (category: string): string | undefined => {
  return m[category]?.(); // Dynamically resolve translations
};



interface Props {
  category?: string;
}

const { category = '' } = Astro.props as Props;
---

<div class="bg-gray-50">
    <h1 class="text-3xl font-bold text-gray-900 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-3 text-center">
      {category ? `Choose a ${getTranslatedCategory(category) || category} recipe` : 'Choose a recipe'}
    </h1>
  </div>
