---
import * as m from "../paraglide/messages.js";

const { category = "" } = Astro.props;

console.log('Debug:');
console.log('Category:', category);
console.log('Category translation:', m[category]());
console.log('chooseRecipeCategory result:', m.chooseRecipeCategory({ category: m[category]() }));
console.log('Current language:', Astro.currentLocale);

const translatedTitle = category 
 ? m.chooseRecipeCategory({ category: m[category]().toLowerCase() })
 : m.chooseRecipe();
---

<div class="bg-gray-50">
 <h1 class="text-3xl font-bold text-gray-900 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-3 text-center">
   {translatedTitle}
 </h1>
</div>