---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const currentLocale = Astro.currentLocale;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Gastro!</title>
  </head>
  <body>
    <Header currentLocal={currentLocale} />
    
    <slot />
    <Footer />
  </body>
</html>
