---
import Header from '../components/header.astro';
import { languageTag } from "../paraglide/runtime";
import * as m from "../paraglide/messages.js";

import Footer from '../components/footer.astro';
const currentLocale = Astro.currentLocale;
---
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{m.siteName}</title>
  </head>
  <body>
    <Header currentLocal={currentLocale} />
    
    <slot />
    <Footer />
  </body>
</html>
